{% extends 'layout.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Draw" %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
    <div class="full">
        <h1>{% trans "New ride" %}</h1>
    </div>
    <div id="col-left">
        <div id="map"></div>
    </div>
    <div id="col-right">
        <form action="{% url 'draw' %}" method="post">
            {% csrf_token %}
            <div class="form-field">
                {{ form.title.label_tag }}
                {{ form.title }}
                {% for error in form.title.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                {{ form.start_time.label_tag }}
                {{ form.start_time }}
                {% for error in form.start_time.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                {{ form.end_time.label_tag }}
                {{ form.end_time }}
                <span class="help-text">{{ form.end_time.help_text }}</span>
                {% for error in form.end_time.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                {{ form.description.label_tag }}
                {{ form.description }}
                {% for error in form.description.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                {{ form.distance.label_tag }}
                {{ form.distance }}
                {{ form.points }}
            </div>
            <input class="button" type="submit" value="{% trans "Post" %}">
            <input class="button" name="is_hide" type="submit" value="{% trans "Save to drafts" %}">
        </form>
    </div>
{% endblock %}

{% block js %}
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&v=weekly&libraries=geometry&callback=initMap"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="{% static 'js/jquery-ui-timepicker-addon.min.js' %}"></script>
    <script>
        $(function() {
            $('.datetime').datetimepicker({
                dateFormat: 'yy-mm-dd',
                showButtonPanel: false,
                timeFormat: 'HH:mm', stepMinute: 10
            });
        });

        let map;

        window.initMap = function() {
            map = new google.maps.Map(document.getElementById("map"), {
                streetViewControl: false,
                fullscreenControl: false,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_TOP,
                },

                zoom: 11,
                center: {lat: {{ user.city.lat }}, lng: {{ user.city.lng }}},
            });

            var path = [];

            var polyline = new google.maps.Polyline({
                path: path,
                map: map,
                editable: true,
                strokeColor: '#1258c9',
                strokeWeight: 3,
            });

            polyline.setMap(map);

            map.addListener('click', addLatLng);

            function addLatLng(event) {
                var path = polyline.getPath();
                path.push(event.latLng);
            }

            google.maps.event.addListener(polyline.getPath(), "insert_at", getPath);
            google.maps.event.addListener(polyline.getPath(), "remove_at", getPath);
            google.maps.event.addListener(polyline.getPath(), "set_at", getPath);

            function getPath() {
                var path = polyline.getPath();
                var coords = [];
                for (var i=0; i < path.getLength(); i++) {
                    coords.push(path.getAt(i).toUrlValue(6));
                }
                var distance = (google.maps.geometry.spherical.computeLength(path) / 1000).toFixed(2);
                $('#id_points').val(coords.join('|'));
                $('#id_distance').val(distance);
            }
        };
    </script>
{% endblock %}
