{% extends 'layout.html' %}

{% block title %}{{ _("Edit") }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">
{% endblock %}

{% block content %}
    <div class="full">
        <h1>{{ _("Editing") }} <span class="silver">{{ ride.title }}</span></h1>
    </div>
    <div id="col-left">
        <div id="map-block">
            <div id="map"></div>
        </div>
    </div>
    <div id="col-right">
        {{ form.errors }}
        <form action="{{ url('edit', args=[ride.id]) }}" method="post">
            {{ csrf_input }}
            <div class="form-field">
                {{ form.title.label_tag() }}
                {{ form.title }}
                {% for error in form.title.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                {{ form.start_date.label_tag() }}
                {{ form.start_date }}
                <span class="help-text">{{ form.start_date.help_text|safe }}</span>
                {% for error in form.start_date.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                {{ form.end_date.label_tag() }}
                {{ form.end_date }}
                <span class="help-text">{{ form.end_date.help_text|safe }}</span>
                {% for error in form.end_date.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                {{ form.description.label_tag() }}
                {{ form.description }}
                {% for error in form.description.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                {{ form.distance.label_tag() }}
                {{ form.distance }}
                {{ form.points }}
            </div>
            <a href="{{ ride.get_absolute_url() }}" class="button silver">{{ _("Cancel") }}</a>
            <input class="button" type="submit" value="{{ _("Save") }}">
            <input class="button" name="is_hide" type="submit" value="{{ _("Save to drafts") }}">
        </form>
    </div>
{% endblock %}

{% block js %}
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&v=weekly&libraries=geometry&callback=initMap"></script>
    <script>
        let map;

        window.initMap = function() {
            google.maps.Polyline.prototype.getBounds = function() {
                var bounds = new google.maps.LatLngBounds();
                this.getPath().forEach(function(item, index) {
                    bounds.extend(new google.maps.LatLng(item.lat(), item.lng()));
                });
                return bounds;
            }

            map = new google.maps.Map(document.getElementById("map"), {
                streetViewControl: false,
                fullscreenControl: false,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_TOP,
                },

                zoom: 11
            });

            let pointsStr = '{{ form.points.value()|default("") }}';
            var path = [];

            if (pointsStr.length > 0) {
                var points = pointsStr.split('|');

                for (var i = 0; i < points.length; i++) {
                    var point = points[i].split(",");
                    path.push({ lat: parseFloat(point[0]), lng: parseFloat(point[1]) });
                }
            }

            if (path.length > 0) {
                var polyline = new google.maps.Polyline({
                    path: path,
                    map: map,
                    editable: true,
                    strokeColor: '#1258c9',
                    strokeWeight: 3,
                });

                polyline.setMap(map);
                map.fitBounds(polyline.getBounds());

                map.addListener('click', addLatLng);

                function addLatLng(event) {
                    var path = polyline.getPath();
                    path.push(event.latLng);
                }

                google.maps.event.addListener(polyline.getPath(), "insert_at", getPath);
                google.maps.event.addListener(polyline.getPath(), "remove_at", getPath);
                google.maps.event.addListener(polyline.getPath(), "set_at", getPath);

                function getPath() {
                    var path = polyline.getPath();
                    var coords = [];
                    for (var i=0; i < path.getLength(); i++) {
                        coords.push(path.getAt(i).toUrlValue(6));
                    }
                    var distance = (google.maps.geometry.spherical.computeLength(path) / 1000).toFixed(2);
                    document.getElementById('id_points').value = coords.join('|');
                    document.getElementById('id_distance').value = distance;
                }
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker.min.js"></script>
    <script>
        const elem = document.querySelector('input[name="start_date"]');
        const datepicker = new Datepicker(elem, {
            weekStart: 1,
            autohide: true,
        });
    </script>
{% endblock %}
