{% extends 'layout.html' %}

{% from 'rides/buttons.html' import fave_btn, participant_btn %}
{% from 'rides/participants.html' import participants %}

{% block title %}{{ ride.title }}{% endblock %}

{% block meta %}
    <meta name="og:url" content="{{ request.scheme }}://{{ request.get_host() }}{{ ride.get_absolute_url() }}">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{ ride.title }}">
    <meta name="og:image" content="{{ ride.map_static_url() }}">
    <meta name="og:description" content="{{ ride.description }}">
{% endblock %}

{% block content %}
    <div class="ride-title-section full clearfix">
        <a href="{{ ride.user.get_absolute_url() }}">
            <img src="{{ ride.user.get_photo() }}" class="photo" alt="{{ ride.user.get_name() }}">
        </a>
        <h1>{{ ride.title }}</h1>
        <div class="ride-byline">
            {{ _("by") }}
            <a href="{{ ride.user.get_absolute_url() }}">{{ ride.user.get_name() }}</a> / {{ ride.created }}
        </div>
    </div>
    <div id="col-left">
        <div id="map"></div>
    </div>
    <div id="col-right">
        {% if user.is_authenticated %}
            <div class="block">
                <div class="content">
                    {{ participant_btn(ride, is_participant) }}
                    {{ fave_btn(ride, is_favorite) }}
                </div>
            </div>
        {% endif %}
        <div class="block">
            <div class="bar">
                <h4>{{ _("Ride info") }}</h4>
            </div>
            <div class="content ride-info">
                <ul>
                    <li>
                        <span>{{ _("Location") }}</span><a href="{{ ride.city.get_absolute_url() }}">{{ ride.city.country.name }}, {{ ride.city.name }}</a>
                    </li>
                    <li>
                        <span>{{ _("Distance") }}</span>{{ ride.distance }} {{ _("km") }}
                    </li>
                    <li>
                        <span>{{ _("Start Time") }}</span>{{ ride.start_time }}
                    </li>
                    {% if ride.end_time %}
                    <li>
                        <span>{{ _("End Time") }}</span>{{ ride.end_time }}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if ride.description %}
        <div class="block">
            <div class="bar">
                <h4>{{ _("Description") }}</h4>
            </div>
            <div class="content description">
                {{ ride.description }}
            </div>
        </div>
        {% endif %}
        <div class="block" id="members">
            <div class="bar">
                <h4>{{ _("Ride members") }}</h4>
            </div>
            <div class="content members">
                <ul id="members-list" ts-trigger="load" ts-req="{{ url('ride_participants', args=[ride.id]) }}">
                </ul>
            </div>
        </div>
        <div class="block">
            <div class="bar">
                <h4>{{ _("Share") }}</h4>
            </div>
            <div class="content">
                {% with share_text=_("Planned an awesome route with #drawride"), share_url=request.scheme ~ "://" ~ request.get_host() ~ ride.get_absolute_url() %}
                <a class="social-button twitter" href="https://twitter.com/intent/tweet?text={{ share_text|urlencode }} {{ share_url }}" onclick="window.open(this.href, '', 'width=700,height=400'); return false" target="_blank">Twitter</a>
                <a class="social-button facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}&title={{ share_text|urlencode }}" onclick="window.open(this.href, '', 'width=700,height=400,toolbar=0,status=0'); return false" target="_blank">Facebook</a>
                <a class="social-button telegram" href="https://t.me/share/url?url={{ share_url }}" onclick="window.open(this.href, '', 'width=700,height=400'); return false" target="_blank">Telegram</a>
                {% endwith %}
            </div>
        </div>
        <div class="block">
            <div class="bar">
                <h4>{{ _("Options") }}</h4>
            </div>
            <div class="content">
                <span class="ride-option-btn export" href="javascript:void(0)" ts-action="class+ visible" ts-trigger="click" ts-target="#overlay">{{ _("Export route") }}</span>
                <a class="ride-option-btn go" href="{{ url('navigation', args=[ride.id]) }}">{{ _("Navigation") }}</a>
            </div>
        </div>
        {% if user.is_authenticated and ride.user == user %}
        <div class="block">
            <div class="bar">
                <h4>{{ _("Manage") }}</h4>
            </div>
            <div class="content">
                <a class="ride-manage-btn" href="{{ url('edit', args=[ride.id]) }}">{{ _("Edit Tour") }}</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="comments-section">
        <ul id="comments" class="comments" ts-req="{{ url('ride_comments', args=[ride.id]) }}" ts-trigger="load"></ul>
        {% if user.is_authenticated %}
            <ul class="comments form">
                <li class="clearfix">
                    <img class="photo" src="{{ user.get_photo() }}" alt="{{ user.get_name() }}">
                    <div class="rightside">
                        <form action="{{ url('post_comment', args=[ride.id]) }}" method="post" id="form-post-comment" class="simple-form" ts-req="" ts-target="#comments">
                            {{ csrf_input }}
                            <div class="form-field">
                                <textarea name="text" cols="40" rows="3" placeholder="Enter your comment here..." required="" id="id_text"></textarea>
                            </div>
                            <input class="button" type="submit" value="{{ _("Post Comment") }}" ts-action="remove" ts-targer="#id_text">
                        </form>
                    </div>
                </li>
            </ul>        
        {% else %}
            <h2>
                {{ _("Please <a href=\"%(link)s\">log in</a> to post comments.", link=url('login')) }}
            </h2>
        {% endif %}
    </div>
{% endblock %}

{% block overlay %}
    <div id="overlay">
        <div id="overlay-bg" ts-action="class- visible" ts-target="#overlay" ts-trigger="click"></div>
        <div id="lightbox">
            <div class="full lightbox-title">
                <h2>{{ _("Choose the export format") }}</h2>
            </div>
            <ul class="list-buttons">
                <li>
                    <a class="button" href="{{ url('export', args=[ride.id, 'gpx']) }}">{{ _("Download GPX file") }}</a>
                </li>
                <li>
                    <a class="button" href="{{ url('export', args=[ride.id, 'kml']) }}">{{ _("Download KML file") }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&v=weekly&libraries=geometry&callback=initMap"></script>
    <script>
        let map;

        window.initMap = function() {
            google.maps.Polyline.prototype.getBounds = function() {
                var bounds = new google.maps.LatLngBounds();
                this.getPath().forEach(function(item, index) {
                    bounds.extend(new google.maps.LatLng(item.lat(), item.lng()));
                });
                return bounds;
            }

            map = new google.maps.Map(document.getElementById("map"), {
                streetViewControl: false,
                fullscreenControl: false,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_TOP,
                },
                zoom: 11,
            });

            let pointsStr = '{{ ride.points_string() }}';
            var path = [];

            if (pointsStr.length > 0) {
                var points = pointsStr.split('|');

                for (var i = 0; i < points.length; i++) {
                    var point = points[i].split(",");
                    path.push({ lat: parseFloat(point[0]), lng: parseFloat(point[1]) });
                }
            }

            if (path.length > 0) {
                var polyline = new google.maps.Polyline({
                    path: path,
                    map: map,
                    editable: false,
                    strokeColor: '#1258c9',
                    strokeWeight: 3,
                });

                polyline.setMap(map);
                map.fitBounds(polyline.getBounds());
            }
        };
    </script>
{% endblock %}
