{% extends 'layout.html' %}

{% block title %}{{ _("Rides") }}{% endblock %}

{% block content %}
    <div class="tabs">
        <ul>
            {% if user.is_authenticated %}
                <li class="current"><a href="{{ url('home') }}">{{ _("Following") }}</a></li>
                <li><a href="{{ url('popular') }}">{{ _("Popular") }}</a></li>
            {% else %}
                <li class="current"><a href="{{ url('popular') }}">{{ _("Popular") }}</a></li>
            {% endif %}
            <li><a href="{{ url('upcoming') }}">{{ _("Upcoming") }}</a></li>
        </ul>
    </div>
    {% if rides %}
        {% include 'rides/grid.html' %}
    {% else %}
        <div class="null-message">
            <h2>{{ _("None") }}</h2>
        </div>
    {% endif %}
{% endblock %}
