{% extends 'layout.html' %}

{% load i18n comments %}

{% block title %}{{ ride.title }}{% endblock %}

{% block meta %}
    <meta name="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ ride.get_absolute_url }}">
    <meta name="og:type" content="article">
    <meta name="og:title" content="{{ ride.title }}">
    <meta name="og:image" content="{{ ride.map_static_url }}">
    <meta name="og:description" content="{{ ride.description }}">
{% endblock %}

{% block content %}
    <div class="ride-title-section full clearfix">
        <a href="{{ ride.user.get_absolute_url }}">
            <img src="{{ ride.user.get_photo }}" class="photo" alt="{{ ride.user.get_name }}">
        </a>
        <h1>{{ ride.title }}</h1>
        <div class="ride-byline">
            {% trans "by" %}
            <a href="{{ ride.user.get_absolute_url }}">{{ ride.user.get_name }}</a> / {{ ride.created }}
        </div>
    </div>
    <div id="col-left">
        <div id="map"></div>
    </div>
    <div id="col-right">
        {% if user.is_authenticated %}
            <div class="block">
                <div class="content">
                    {% if is_member %}
                        <a class="ride-action-btn join leave" href="{% url 'join' ride.id %}">{% trans "Leave a ride" %}</a>
                        <a class="ride-action-btn join hidden" href="{% url 'join' ride.id %}">{% trans "Join to ride" %}</a>
                    {% else %}
                        <a class="ride-action-btn join" href="{% url 'join' ride.id %}">{% trans "Join to ride" %}</a>
                        <a class="ride-action-btn join leave hidden" href="{% url 'join' ride.id %}">{% trans "Leave a ride" %}</a>
                    {% endif %}
                    {% if is_favorite %}
                        <a class="ride-action-btn favorite unfave" href="{% url 'fave' ride.id %}">{% trans "Remove from favorites" %}</a>
                        <a class="ride-action-btn favorite hidden" href="{% url 'fave' ride.id %}">{% trans "Add to favorites" %}</a>
                    {% else %}
                        <a class="ride-action-btn favorite" href="{% url 'fave' ride.id %}">{% trans "Add to favorites" %}</a>
                        <a class="ride-action-btn favorite unfave hidden" href="{% url 'fave' ride.id %}">{% trans "Remove from favorites" %}</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="block">
            <div class="bar">
                <h4>{% trans "Ride info" %}</h4>
            </div>
            <div class="content ride-info">
                <ul>
                    <li>
                        <span>{% trans "Location" %}</span><a href="{{ ride.city.get_absolute_url }}">{{ ride.city.country.name }}, {{ ride.city.name }}</a>
                    </li>
                    <li>
                        <span>{% trans "Distance" %}</span>{{ ride.distance }} {% trans "km" %}
                    </li>
                    <li>
                        <span>{% trans "Start Time" %}</span>{{ ride.start_time }}
                    </li>
                    {% if ride.end_time %}
                    <li>
                        <span>{% trans "End Time" %}</span>{{ ride.end_time }}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if ride.description %}
        <div class="block">
            <div class="bar">
                <h4>{% trans "Description" %}</h4>
            </div>
            <div class="content description">
                {{ ride.description|linebreaks|urlize }}
            </div>
        </div>
        {% endif %}
        <div class="block" id="members">
            <div class="bar">
                <h4>{% trans "Ride members" %}</h4>
            </div>
            <div class="content members">
                <ul id="members-list">
                    {% for member in ride.members.all %}
                        <li>
                            <a href="{{ member.get_absolute_url }}" title="{{ member.username }}">
                                <img alt="{{ member.username }}" class="photo" src="{{ member.get_photo }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="block">
            <div class="bar">
                <h4>{% trans "Share" %}</h4>
            </div>
            <div class="content">
                <a class="social-button twitter" href="http://twitter.com/intent/tweet?text={{ ride.title }} {{ request.scheme }}://{{ request.get_host }}{{ ride.get_absolute_url }}" onclick="window.open(this.href, '', 'width=700,height=400'); return false" target="_blank">Twitter</a>
                <a class="social-button facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{{ ride.get_absolute_url }}" onclick="window.open(this.href, '', 'width=700,height=400,toolbar=0,status=0'); return false" target="_blank">Facebook</a>
                <a class="social-button telegram" href="https://telegram.me/share/url?url={{ request.scheme }}://{{ request.get_host }}{{ ride.get_absolute_url }}" onclick="window.open(this.href, '', 'width=700,height=400'); return false" target="_blank">Telegram</a>
            </div>
        </div>
        <div class="block">
            <div class="bar">
                <h4>{% trans "Options" %}</h4>
            </div>
            <div class="content">
                <a class="ride-option-btn show-lightbox export" href="javascript:void(0)">{% trans "Export route" %}</a>
                <a class="ride-option-btn go" href="{% url 'navigation' ride.id %}">{% trans "Navigation" %}</a>
            </div>
        </div>
        {% if user.is_authenticated and ride.user == user %}
        <div class="block">
            <div class="bar">
                <h4>{% trans "Manage" %}</h4>
            </div>
            <div class="content">
                <a class="ride-manage-btn" href="{% url 'edit' ride.id %}">{% trans "Edit" %}</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="comments-section">
        <ul id="comments" class="comments">
            {% comments ride %}
        </ul>
        {% if user.is_authenticated %}
            {% comments_form user ride %}
        {% else %}
            {% url 'login' as l_url %}
            <h2>
                {% blocktrans %}Please <a href="{{ l_url }}">log in</a> to post comments.{% endblocktrans %}
            </h2>
        {% endif %}
    </div>
{% endblock %}

{% block overlay %}
    <div id="overlay">
        <div id="overlay-bg"></div>
        <div id="lightbox">
            <div class="full lightbox-title">
                <h2>{% trans "Choose export destination" %}</h2>
            </div>
            <ul class="list-buttons">
                <li>
                    <a class="button" href="{% url 'export' ride.id 'gpx' %}">{% trans "Download GPX file" %}</a>
                </li>
                <li>
                    <a class="button" href="{% url 'export' ride.id 'kml' %}">{% trans "Download KML file" %}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script async src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&v=weekly&libraries=geometry&callback=initMap"></script>
    <script>
        let map;

        window.initMap = function() {
            google.maps.Polyline.prototype.getBounds = function() {
                var bounds = new google.maps.LatLngBounds();
                this.getPath().forEach(function(item, index) {
                    bounds.extend(new google.maps.LatLng(item.lat(), item.lng()));
                });
                return bounds;
            }

            map = new google.maps.Map(document.getElementById("map"), {
                streetViewControl: false,
                fullscreenControl: false,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_TOP,
                },

                zoom: 11,
                center: {lat: {{ user.city.lat }}, lng: {{ user.city.lng }}},
            });

            let pointsStr = '{{ ride.points_string }}';
            var path = [];

            if (pointsStr.length > 0) {
                var points = pointsStr.split('|');

                for (var i = 0; i < points.length; i++) {
                    var point = points[i].split(",");
                    path.push({ lat: parseFloat(point[0]), lng: parseFloat(point[1]) });
                }
            }

            if (path.length > 0) {
                var polyline = new google.maps.Polyline({
                    path: path,
                    map: map,
                    editable: false,
                    strokeColor: '#1258c9',
                    strokeWeight: 3,
                });

                polyline.setMap(map);
                map.fitBounds(polyline.getBounds());
            }
        };
    </script>
{% endblock %}
