{% load i18n %}

<ul class="comments form">
    <li class="clearfix">
        <img class="photo" src="{{ user.get_photo }}" alt="{{ user.get_name }}">
        <div class="rightside">
            <form action="{% url 'post_comment' ride_id %}" method="post" id="form-post-comment" class="simple-form">
                {% csrf_token %}
                <div class="form-field">
                    {{ form.text }}
                </div>
                <input class="button" type="submit" value="{% trans "Post Comment" %}">
            </form>
        </div>
    </li>
</ul>
