{% extends 'layout.html' %}

{% block title %}{{ pgettext("log in text", "Log In") }}{% endblock %}

{% block content %}
    <div class="centered">
        <div class="full">
            <h1>{{ pgettext("log in text", "Log In") }}</h1>
        </div>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors() %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <form action="{{ url('login') }}{% if next %}?next={{ next }}{% endif %}" method="post">
            {{ csrf_input }}
            <div class="form-field">
                {{ form.username.label_tag() }}
                {{ form.username }}
                <span class="help-text">{{ form.username.help_text|safe }}</span>
                {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                {{ form.password.label_tag() }}<a href="{{ url('password_reset') }}">{{ _("Forgot it?") }}</a></a>
                {{ form.password }}
                <span class="help-text">{{ form.password.help_text|safe }}</span>
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
             </div>
            <input class="button" type="submit" value="{{ pgettext("button", "Log In") }}">
        </form>
    </div>
{% endblock %}
