{% extends "layout.html" %}

{% block content %}
    <div class="centered">
        <div class="full">
            <h1>{{ _("Set new password") }}</h1>
        </div>
        <form action="." method="post">
            {{ csrf_input }}
            <div class="form-field">
                <fieldset>
                    {{ form.new_password1.label_tag() }}
                    {{ form.new_password1 }}
                </fieldset>
                <span class="help-text">{{ form.new_password1.help_text|safe }}</span>
                {% for error in form.new_password1.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                <fieldset>
                    {{ form.new_password2.label_tag() }}
                    {{ form.new_password2 }}
                </fieldset>
                {% for error in form.new_password2.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <input type="submit" value="{{ _("Change Password") }}">
        </form>
    </div>
{% endblock %}
