{% extends 'layout.html' %}

{% block title %}{{ profile.get_name() }} / {{ _("Followers") }}{% endblock %}

{% block content %}
    {% include 'users/userbar.html' %}
    <div class="tabs">
        <ul>
            <li class="current"><a href="{{ url('followers', args=[profile.username]) }}">{{ _("Followers") }}</a></li>
            <li><a href="{{ url('following', args=[profile.username]) }}">{{ _("Following") }}</a></li>
        </ul>
    </div>
    {% if followers %}
        <table class="data">
            <thead>
                <tr>
                    <th>{{ _("User") }}</th>
                    <th>{{ _("Location") }}</th>
                    <th>{{ _("Rides") }}</th>
                </tr>
            </thead>
            <tbody>
            {% for follower in followers %}
                <tr>
                    <td>
                        <a href="{{ follower.get_absolute_url() }}">
                            <img class="photo" src="{{ follower.get_photo() }}">{{ follower.get_name() }}
                        </a>
                    </td>
                    <td>
                        {% if follower.city %}
                            <a href="{{ url('city', args=[follower.city.id]) }}">{{ follower.city.country.name }}, {{ follower.city.name }}</a>
                        {% else %}
                            {{ _("Earth") }}
                        {% endif %}
                    </td>
                    <td>
                        {{ follower.his_rides.count() }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="null-message">
            <h2>{{ _("None") }}</h2>
        </div>
    {% endif %}
{% endblock %}
