{% extends 'layout.html' %}

{% load i18n %}

{% block title %}{% trans "People" %}{% endblock %}

{% block content %}
    <div class="full">
        <h1>{% trans "People" %}</h1>
    </div>
    {% if users %}
        <table class="data">
            <thead>
                <tr>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Rides" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>
                        <a href="{{ u.get_absolute_url }}">
                            <img class="photo" src="{{ u.get_photo }}">{{ u.get_name }}
                        </a>
                    </td>
                    <td>
                        {{ u.his_rides.count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="null-message">
            <h2>{% trans "None" %}</h2>
        </div>
    {% endif %}
{% endblock %}
