{% extends 'layout.html' %}

{% block title %}{{ _("Select Your City") }}{% endblock %}

{% block content %}
    <div class="full">
        <h1>{{ _("Select Your City") }}</h1>
    </div>
    {% for country in countries %}
        <div class="country">
            <h2>{{ country.name }}</h2>
            <ul>
                {% for city in country.cities.all() %}
                    <li><a href="{{ url('set_city', args=[city.id]) }}">{{ city.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="null-message">
            <h2>{{ _("None") }}</h2>
        </div>
    {% endfor %}
{% endblock %}
