{% extends 'layout.html' %}

{% block title %}{{ city.country.name }}, {{ city.name }}{% endblock %}

{% block content %}
    <div class="full">
        <h1>{{ city.country.name }}, {{ city.name }}</h1>
    </div>
    <div class="tabs">
        <ul>
            <li class="current"><a href="{{ url('city', args=[city.id]) }}">{{ _("Rides") }}</a></li>
            <li><a href="{{ url('city_people', args=[city.id]) }}">{{ _("People") }}</a></li>
        </ul>
    </div>
    {% if city.rides.all() %}
        {% with rides=city.rides.all() %}
        <ul class="rides-grid clearfix">
            {% include 'rides/grid.html' %}
        </ul>
        {% endwith %}
    {% else %}
        <div class="null-message">
            <h2>{{ _("None") }}</h2>
        </div>
    {% endif %}
{% endblock %}
