{% extends 'layout.html' %}

{% block title %}{{ city.country.name }}, {{ city.name }} / {{ _("People") }}{% endblock %}

{% block content %}
    <div class="full">
        <h1>{{ city.country.name }}, {{ city.name }}</h1>
    </div>
    <div class="tabs">
        <ul>
            <li><a href="{{ url('city', args=[city.id]) }}">{{ _("Rides") }}</a></li>
            <li class="current"><a href="{{ url('city_people', args=[city.id]) }}">{{ _("People") }}</a></li>
        </ul>
    </div>
    {% if users %}
        <table class="data">
            <thead>
                <tr>
                    <th>{{ _("User") }}</th>
                    <th>{{ _("Rides") }}</th>
                </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>
                        <a href="{{ u.get_absolute_url() }}">
                            <img class="photo" src="{{ u.get_photo() }}">{{ u.get_name() }}
                        </a>
                    </td>
                    <td>
                        {{ u.his_rides.count() }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="null-message">
            <h2>{{ _("None") }}</h2>
        </div>
    {% endif %}
{% endblock %}
