{% extends 'layout.html' %}

{% block title %}{{ profile.get_name() }}{% endblock %}

{% block content %}
    {% include 'users/userbar.html' %}
    <div class="tabs">
        <ul>
            <li><a href="{{ profile.get_absolute_url() }}">{{ _("Tours") }}</a></li>
            <li class="current"><a href="{{ url('involved', args=[profile.username]) }}">{{ _("Involved") }}</a></li>
            <li><a href="{{ url('favorite', args=[profile.username]) }}">{{ _("Favorites") }}</a></li>
        </ul>
    </div>
    {% if rides %}
        {% include 'rides/grid.html' %}
    {% else %}
        <div class="null-message">
            <h2>{{ _("None") }}</h2>
        </div>
    {% endif %}
{% endblock %}
