<div class="full clearfix">
    <div class="profile-actions clearfix">
        <ul class="profile-tabs">
            <li class="followers">
                <a href="{{ url('followers', args=[profile.username]) }}">
                    <span class="count" id="followers-count">{{ profile.followers.count() }}</span>
                    <span class="meta">{{ _("Followers") }}</span>
                </a>
            </li>
            <li class="following">
                <a href="{{ url('following', args=[profile.username]) }}">
                    <span class="count" id="following-count">{{ profile.following.count() }}</span>
                    <span class="meta">{{ _("Following") }}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="userbar">
        <img src="{{ profile.get_photo() }}" class="photo" alt="{{ profile.get_name() }}">
        <h1 class="name"><a href="{{ profile.get_absolute_url() }}">{{ profile.get_name() }}</a></h1>
        <ul class="profile-details">
            {% if profile.city %}
            <li>
                <a href="{{ url('city', args=[profile.city.id]) }}" class="locality">{{ profile.city.country.name }}, {{ profile.city.name }}</a>
            </li>
            {% endif %}
        </ul>
        <div class="profile-options">
            {% if user.is_authenticated and user != profile %}
                <span id="compose-message" class="button" ts-action="class+ visible" ts-trigger="click" ts-target="#overlay">{{ _("Compose message") }}</span>
                {% if follows %}
                    <a class="button unfollow" href="{{ url('unfollow', args=[profile.username]) }}" ts-req="">
                        <span>{{ _("Following") }}</span>
                        <span class="hover-text">{{ _("Unfollow") }}</span>
                    </a>
                {% else %}
                    <a class="button follow" href="{{ url('follow', args=[profile.username]) }}" ts-req="">
                        <span>{{ _("Follow") }}</span>
                    </a>
                {% endif %}            
            {% endif %}
        </div>
    </div>
</div>
