{% extends 'layout.html' %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <div class="centered">
        <div class="full">
            <h1>{% trans "Login to your account" %}</h1>
        </div>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <form action="{% url 'login' %}{% if next %}?next={{next}}{% endif %}" method="post">
            {% csrf_token %}
            <div class="form-field">
                {{ form.username.label_tag }}
                {{ form.username }}
                <span class="help-text">{{ form.username.help_text }}</span>
                {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-field">
                <label for="id_password">{{ form.password.label }} <a href="{% url 'recover' %}">{% trans "Forgot it?" %}</a></label>
                {{ form.password }}
                <span class="help-text">{{ form.password.help_text }}</span>
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
             </div>
            <input class="button" type="submit" value="{% trans "Login" %}">
        </form>
    </div>
{% endblock %}
