{% extends 'layout.html' %}

{% block title %}{{ _("Messages") }}{% endblock %}

{% block content %}
    <div class="full">
        <h1>{{ _("Messages") }}</h1>
    </div>
    {% if discussions %}
        <div class="messages-section">
            <ul class="messages">
            {% for message in discussions %}
                {% if message.to_user == user %}
                    {% with contact=message.from_user %}
                        {% include 'discussions/message-item.html' %}
                    {% endwith %}
                {% else %}
                    {% with contact=message.to_user %}
                        {% include 'discussions/message-item.html' %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
