{% extends 'layout.html' %}

{% block title %}{{ _("Chat") }}{% endblock %}

{% block content %}
    <div class="full">
        <h1>
            {{ _("<a href=\"%(chats)s\">Messages</a> with <a href=\"%(chat_partner)s\">%(partner_name)s</a>", chats=url('discussions'), chat_partner=contact.get_absolute_url(), partner_name=contact.get_name()) }}
        </h1>
    </div>
    <div class="messages-section">
        {% if messages_list %}
            <ul class="messages">
            {% for message in messages_list %}
                <li class="clearfix">
                    <a href="{{ message.from_user.get_absolute_url() }}">
                        <img class="photo" src="{{ message.from_user.get_photo() }}" alt="{{ message.from_user.get_name() }}">
                    </a>
                    <div class="rightside">
                        <div class="message-meta">
                            <a href="{{ message.from_user.get_absolute_url() }}" class="name">{{ message.from_user.get_name() }}</a>
                            <span class="posted">{{ message.date_created }}</span>
                        </div>
                        <div class="comment-body">
                            {{ message.text }}
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <form action="{{ url('discussion', args=[contact.username]) }}" method="post" class="simple-form">
            {{ csrf_input }}
            <div class="form-field">
                {{ form.text }}
                {% for error in form.text.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <input type="submit" value="{{ _("Send Message") }}">
        </form>
    </div>
{% endblock %}
